* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: salmon;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.container {
    text-align: center;
    color: white;
    /* background-color: blue; */
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 2.5rem;
}


.btn {
    background: rgb(255,255,255,.2);
    border: none;
    border-radius: .5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    margin: 1rem 0;
    max-width: 100%;
    font-size: 5rem;
    filter: grayscale(1);
    transition: filter .2s ease-in-out;
}

.btn:hover {
    filter: grayscale(0);
}

.emoji-name {
    color: darkblue;
    font-weight: 600;
    font-size: 1.5rem;
}

@media (max-width: 400px) {
    .container {
        padding: 1rem;
    }
    .btn {
        font-size: 3rem;
        padding: .5rem 1rem;
    }
    h1 {
        font-size: 1.5rem;
        white-space: nowrap;
    }
    .emoji-name {
        font-size: 1.2rem;
    }
}