body {
    margin: 0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom right, #4B79A1 0%, #283E51 100%);
    color: #F8F8F8;
    min-height: 100vh;
}


.heading {
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
}

.info-text {
    text-align: center;
    color: darkblue;
    margin-top: -10px;
}
.notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    justify-content: center;
    padding: 50px;
    margin-top: -30px;
}

.textarea {
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(0, 0, 139, 0.6);
    border-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    resize: none;
}

.textarea:hover,
.textarea:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;
}

.textarea::placeholder {
    color: rgba(0, 0, 139, 0.2);
}
.btn {
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    font-size: 70px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
    transition: all 300ms ease;
}

.hidden {
    position: absolute;
    left: -100000px;
}