body {
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
    text-align: center;
    width: 90%;
    margin: 10px;
}

.heading {
    font-size: 35px;
    font-weight: 700;
}

.quote {
    font-size: 30px;
    font-weight: 600;
}

.author {
    font-size: 25px;
    font-style: italic;
    margin: 10px;
}

.btn {
    font-size: 18px;
    background-color: rgba(255,255,255,0.3);
    border: rgba(255,255,255,0.6);
    padding: 10px;
    margin-top: 15px;
    width: 300px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
    transition: all 300ms ease-in-out;
    color: green;
}