* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    margin: 10px;
}

.calculator {
    max-width: 300px;
    margin: 40px auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 10px;
}

#result {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: white;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.2) inset;
    font-size: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding-top: 15px;
}

button {
    padding: 10px;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3 ease;
    color: #333;
}

button:hover {
    opacity: 75%;
}

.clear {
    background-color: rgba(253, 76, 76, 0.999);
}

.operator {
    background-color: lightskyblue;
}

.equal {
    background-color: lightgreen;
    grid-row: span 3;
}




label {
    position: absolute;
    left: -10000px;
}