body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background: darkolivegreen;
}

.container {
    background-color: #1d602f;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

h1 {
    margin: 10px;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.4);
}

.input-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 18px;
}

input {
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: none;
}