body {
    padding: 0;
    margin: 0;
    background-color: #f9fafb;
    color: #1f2937;
}
h1{
    text-align: center;
    margin-block: 20px;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 50px;
    padding: 10px;
    max-width: 550px;
    margin-inline: auto;
}

.search-input {
    padding: 10px;
    flex: 1;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    background-color: #ffffff;
    color: #1f2937;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.btn {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: #ff4f00  ;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    opacity: 90%;
}

img.image-result {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;

}

.image-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    place-items: center;
    padding: 20px;
}

.img-container {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.img-container p{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}
