body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, lightblue, yellow);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
}
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 500px;
    margin: 5px;
    width: 80%;
}

.btn {
    background-color: green;
    color: aliceblue;
    padding: 10px 30px;
    font-family: inherit;
    border-radius: 6px;
    margin-bottom: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}
.anime-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 3px solid green;
    object-fit: cover;
}

.anime-name {
    background-color: green;
    color: aliceblue;
    padding: 10px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    margin: 20px;
}


@media (max-width: 768px) {
    .container {
        padding: 15px;
        margin: 15px;
        width: 85%;
    }
    
    .anime-image {
        max-width: 250px;
    }
    
    .btn {
        padding: 8px 25px;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
        margin: 10px;
        width: 90%;
    }
    
    .anime-image {
        max-width: 200px;
    }
    
    .btn {
        padding: 8px 20px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .anime-name {
        font-size: 15px;
        margin: 15px 0;
        padding: 8px;
    }
}
