@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #7bdaf3;
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textarea {
    background-color: rgba(255, 255, 255, 0.3);
    width: 300px;
    height: 300px;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.1);
    border: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 20px;
    color: rgb(67, 94, 204);
    font-size: 16px;
    resize: none;
    outline: none;
}


.add {
    background-color: #9ec862;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px 15px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.add:hover {
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
}