body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: greenyellow;
}

.container {
    background-color: darkcyan;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
    text-align: center;
}

h1 {
    padding: 0;
    margin: 15px;
}

.currency-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1rem;
}

.currency-first,.currency-second {
    font-size: inherit;
    outline: none;
    border: none;
    border-radius: 4px;
}
.worth-first,.worth-second {
    font-size: inherit;
    outline: none;
    border: none;
    text-align: right;
    padding: 5px;
    border-radius: 4px;
}

.worth-second {
    background-color: transparent;
    color: aliceblue;
}

.exchange-rate {
    color: aliceblue;
    font-weight: 600;
}