body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: darkkhaki;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    max-width: 500px;
    width: 80%;
    margin: 10px;
}

h1 {
    margin-top: 10px;
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.weight-input {
    display: flex;
    flex-direction: column  ;
    font-size: 18px;
    font-weight: 600;
}
.desc{
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
}

input {
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 700;
}

.weight-display {
    font-size: 18px;
    font-weight: 600;
}

.error {
    color: red;
    font-size: 14px;
}