body {
    margin: 0;
    background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255,255,255,0.3);
    padding: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    width: 85%;
    text-align: center;
    margin: 10px;
}

.heading {
    font-size: 30px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkgreen;
    letter-spacing: 2px;
    text-shadow: 2px 4px 6px rgba(0,0,0,0.3);
}

.joke {
    font-size: 18px;
    margin: 40px;
}

.btn {
    background-color: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.6);
    width: 300px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: darkgreen;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    transition: all 300ms ease;
}