@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');


body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Permanent Marker", cursive;
    background-color: salmon;
}
h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}